* {
    margin: 0px;
    padding: opx;
    border: none;
}
.logo {
    padding: 10px;
}
.container{

    display: flex;
    justify-content: space-around;
    background-color: #272626;
    color: white;
}

button{
    background-color: #272626;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.contato {
    display: flex;
    background-color: red;
    border-radius: 15px;
    padding: 11px;
    width: 90px;
    align-items: center;
}
.botoon-favicon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   padding: 10px;
   justify-content: center;
   display: flex;
}